parameters:
    level: 10
    paths:
        - app/Http
        - app/Models
        - app/Exception
        - routes
        - tests
        - vendor/omegamvc
    tmpDir: cache/phpstan
    ignoreErrors:
        - '#Method System\\Collection\\AbstractCollectionImmutable::pluck\(\) should return#'
