<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" 
	bootstrap="test/bootstrap.php"
	cacheDirectory="cache/phpunit"
	executionOrder="depends,defects"
	defaultTestSuite="Omega Test Suite" 
	beStrictAboutOutputDuringTests="true" 
	failOnRisky="true" 
	failOnWarning="true" 
	testdox="true" 
	testdoxSummary="true" 
	colors="true"
	>
  	<testsuites>
    		<testsuite name="Omega Test Suite">
      			<directory>test</directory>
      			<directory>vendor/omegamvc/*/tests</directory>
    		</testsuite>
  	</testsuites>
  	<source>
    		<include>
      			<directory>app</directory>
      			<directory>vendor/omegamvc/*/src</directory>
    		</include>
  	</source>
  	<!--coverage pathCoverage="true">
    		<report>
      			<html outputDirectory="cache/coverage-report"/>
    		</report>
  	</coverage>
  	<logging>
    		<testdoxHtml outputFile="cache/coverage-report/testdox.html"/>
  	</logging-->
</phpunit>
